*{
   margin: 0;
   padding: 0;
}

body{
   font-family: Arial, sans-serif;
   line-height: 1.6;
   background-color: #f5f1f1;
   color: #030303;
   
} 

.inicio {
   text-align: center;
   justify-content:space-around ;
   

}


nav ul {
   color: #fbf6f6;
   list-style: none;
   display: flex;
   justify-content: right;
   background-color: #59140D
 ;
}
.logo {
   display: flex;
   align-items: left;
   gap: 10px;
}
.logo img {
   align-items: baseline;
   width: 50px;
   height: 50px;
}


